certifi==2024.6.2 ; python_version >= "3.11" and python_version < "3.13"
charset-normalizer==3.3.2 ; python_version >= "3.11" and python_version < "3.13"
idna==3.7 ; python_version >= "3.11" and python_version < "3.13"
markdown==3.6 ; python_version >= "3.11" and python_version < "3.13"
python-decouple==3.8 ; python_version >= "3.11" and python_version < "3.13"
requests==2.32.3 ; python_version >= "3.11" and python_version < "3.13"
resend==2.0.0 ; python_version >= "3.11" and python_version < "3.13"
typing-extensions==4.12.2 ; python_version >= "3.11" and python_version < "3.13"
urllib3==2.2.1 ; python_version >= "3.11" and python_version < "3.13"
